.main-wrap .content {
  display: flex;
  max-width: 100%;
  height: 100%;
  margin: 1rem;
  /* border-top: 1px solid var(--border-clr);
  border-bottom: 1px solid var(--border-clr); */
}
.main-wrap .content .content-left {
  width: 98%;
  padding: 1rem 1rem;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.125rem; */
}
.category-group {
  max-width: 98%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 0;
}
.category-group .category {
  max-width: 100%;
  height: 100%;
  background: var(--secondary-bgc);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.category .category-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 0.5rem 0;
}
.category .category-img img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 0.2rem;
}
.category .category-content {
  padding: 1.5rem;
  padding-left: 1.5rem;
  color: var(--primary-txt);
}
.category .category-content h2 {
  font-size: 1.6rem;
  margin: 0;
}
.category .category-content p {
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem;
}
.category .category-content .category-btn {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.category-btn > p > i {
  padding: 0 0.5rem;
  color: rgba(244, 8, 8, 0.474);
  font-size: 1.2rem;
}
.category-btn > p > span {
  color: rgb(187, 184, 184);
}
.category-btn > i {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  color: var(--primary-txt);
  font-size: 1.5rem;
}
.content-left .category-page {
  margin: 2rem;
  padding-right: 10rem;
  display: flex;
  justify-content: center;
}
.content-left .category-page a {
  background: #fff;
  color: var(--primary-txt);
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  margin-right: 0.2rem;
  padding: 0.8rem;
  text-decoration: none;
}
/* =============================================== */
/* ====================       ==================== */
/* ==================== media ==================== */
/* ====================       ==================== */
/* =============================================== */
@media screen and (min-width: 1200px) {
  .main-wrap .content .content-left {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .main-wrap .content .content-left {
    width: 100%;
    padding: 1rem 1.5rem;
    /* grid-template-columns: repeat(1, 1fr); */
    animation: content-left 0.8s ease-in-out forwards;
  }
  .category-group {
    max-width: 100%;
    gap: 1rem;
  }
  .content-left .category-page {
    padding: 0;
                                                                                                                  }
}
@media screen and (max-width: 768px) {
  .main-wrap .content .content-left {
    width: 100%;
    padding: 1rem 0;
    /* grid-template-columns: repeat(1, 1fr); */
    animation: content-left 0.8s ease-in-out forwards;
  }
  .category-group {
    max-width: 100%;
  }
  .main-wrap .content .content-right {
    width: 100%;
    padding: 1rem 0;
    animation: content-right 0.5s ease-out forwards;
  }
  .other-article-group .other-article {
    animation: content-left 0.8s ease-in-out forwards;
  }
}
@media screen and (max-width: 394px) {
  .category-group .category {
    grid-template-columns: 1fr;
  }
  .category .category-content {
    padding: 0;
  }
  .category .category-img {
    height: 150px;
  }
  .category .category-content h2 {
    padding-left: 4px;
    font-size: 1.5rem;
  }
  .category .category-content p {
    font-size: 1rem;
    margin: 0;
  }
  .category-btn > i {
    font-size: 1.2rem;
    padding: 0 0.5rem 0.2rem 0;
  }
  .content-left .category-page {
    padding: 0;
    padding-left: 0.3rem;
  }
}
/* 左邊區塊滑動動畫 */
@keyframes content-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 右邊區塊滑動動畫 */
@keyframes content-right {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
