.userinfo {
  display: none;
  position: fixed;
  top: 80px;
  transform: translate(0, -50px);
  border-radius: 20px;
  box-sizing: border-box;
  background: var(--notification-bg);
  backdrop-filter: blur(35px);
}
.userinfo li {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}
.userinfo li a {
  text-decoration: none;
  color: var(--userinfo-txt);
}
.userinfo p {
  color: var(--userinfo-txt);
}
.userinfo-icon {
  font-size: 30px;
  cursor: pointer;
  color: #333;
}
/* 動畫 */
.userinfo.active {
  display: block;
  transform: translate(0, 0);
  animation: userinfo 0.3s ease-out;
}

.userinfo-card {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

/* .userinfo-card:hover {
  background-color: #fff;
} */

/* 彈出動畫 */
@keyframes userinfo {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); /* 回到原位 */
  }
}
/* =============================================== */
/* ====================       ==================== */
/* ==================== media ==================== */
/* ====================       ==================== */
/* =============================================== */


/* 手機 - 767px 以下 */
@media screen and (max-width: 767px) {
  #userinfo {
    width: 80vw;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(35px);
    animation: fadeIn 0.3s ease; /* 使用淡入動畫 */
  }
}

/* 定義淡入動畫 */
@keyframes fadeIn {
 0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}